
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
        overflow: hidden;
        font-family: 'Noto Sans', sans-serif;
}

#top-nav {
    color: rgb(250, 250, 100);
    background: #e30038;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    width: 100vw;
    height: 8vh;
    /* space between pushes the elements to the edges */
    justify-content: space-between;
    align-items: center;
    font-family: 'Saira Extra Condensed', sans-serif;
}

.welcome {
    font-family: 'Pacifico', cursive;
    font-size: 42px;
    /* Try to center it, not perfect though */
    min-width: 55vw;
    text-align: right;
}

#nav-toggle {
    font-size: 24px;
    text-decoration: none;
    padding: 2px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.45s;
}

.nav-hidden {
    transform: translateX(100%);
}

.rotated {
  transform: rotate(-90deg);
}

#side-nav {
    /* absolute positioning gives the navbar no space, it overlaps the content anyway */
    position: absolute;
    right: 0px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 28px;
    /* The animation when the nav bar slides in/out */
    transition: transform 0.6s;
    width: 18vw;
    height: 92vh;
    /*background-color: #2D2D2D; */
    background-color: #bd1520;
    border-radius: 2px 0 0 2px;
    border: solid 2px #121212;
    font-size: 20px;
    float: right;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding-top: 8vh;
    padding-bottom: 8vh;
}

#side-nav > a {
    color: rgb(230, 230, 100);
    font-size: 24px;
    text-decoration: none;
    margin-top: 10px;
    transition: 0.3s;

    user-select: none;
}

#side-nav > a:hover {
    font-size: 26px;
}

.nav-active {
    transform: translateX(100%);
}

/* Applies to all the content */
main > section {
    padding: 4px;
    border-radius: 2px;
    border: solid 3px #121212;
    background: #ff0037;
}

.title {
    padding-bottom: 4px;
    font-size: 30px;
    color: white;
}

.text {
    color: #ebd244;
    font-size: 20px;
}

.centre-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

#index-main {
  padding: 10px;
    text-align: center;
    background-image: url("bg.png");
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left {
    grid-area: right;
    width: 40vw;
    height: 60vh;
}

#right {
    grid-area: right;
    width: 44vw;
}

.slide {
    display: none;
    height: 52vh;
}

.slide-visible {
    display: block;
}

.slide-header{
    height: 3vh;
    font-size: 20px;
    margin-bottom: 1vh;
}

.slide-image {
    width: 100%;
    height: 97%;
}

.slide-footer {
    height: 4vh;
}

/* About us page */
#about-main {
  padding: 8px;
    text-align: center;
    background-image: url("bg.png");
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middle {
    width: 69vw;
    height: 70vh;
}

.text-container {
    padding-left: 15vh;
    padding-right: 15vh;
    text-align: left;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

#table {
	border: solid black 2px;
	width: 1250px;
	margin: auto;
	height: 890px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgba(0,0,0,0.8);
	color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

span{
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	animation: rainbow 12s ease infinite;
	
}

@keyframes rainbow{
	0% {-webkit-text-fill-color:#ff3300}
	15%{-webkit-text-fill-color:#ff8533}
	30%{-webkit-text-fill-color:#ffd11a}
	45%{-webkit-text-fill-color:#47d147}
	60%{-webkit-text-fill-color:#1ddde8}
	75%{-webkit-text-fill-color:#665def}
	90%{-webkit-text-fill-color:#f480ff}
	100%{-webkit-text-fill-color:#ff3333}

}
